.tags-container {
    width: 90%;
    height: 450px;
    overflow-y: auto;
    padding: 5px;
    border: 3px solid #c4c4c4;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tag {
    height: 30px;
    padding: 3px 8px;
    margin-right: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.tag img {
    max-width: 30px;
    margin-right: 16px;
}

::-webkit-scrollbar {
    width: 7px;
    right: 5px;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 250px;
}

::-webkit-scrollbar-track {
    margin: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #00000070;
}