.search-panel {
    width: 360px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radius,
.text1,
.text2 {
    font-weight: bold;
    padding-left: 20px;
    align-self: flex-start;
    margin-bottom: 10px;
}


.text1,
.text2 {
    margin-top: 5px;
}

.radiusInput {
    width: 100px;
    height: 50px;
    padding-left: 30px;
    outline: none;
    border: 3px solid #c4c4c4;
    border-radius: 10px;
    margin: 15px 20px 0 0;
    font-size: 18px;
    font-weight: 500;
}
.searchButton {
    width: 90%;
    background-color: transparent;
    padding: 0;
    border: none;
}

.searchButton img {
    width: 90%;
    height: auto;
}

.radiusInput::-webkit-inner-spin-button,
.radiusInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 480px) {
    .search-panel {
        width: 250px;
        left: 70px;
    }
}