.search-panel {
    width: 270px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-panel input {
    width: 90%;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 22.5px 5px 0 5px;
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.tags-container {
    width: 240px;
    height: 70px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}
.tag {
    display: block;
    background-color: #f0f0f0;
    color: #333;
    padding: 3px 8px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.tag:hover {
    background-color: #555;
}
::-webkit-scrollbar {
    width: 7px;
    right: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}